AcornWSClient/xml-resources/web-service-references/AcornWSService/wsdl/sysbio3.fhms.surrey.ac.uk_8080/acorn/AcornWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.acorn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.acorn/" name="AcornWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.acorn/" schemaLocation="http://sysbio3.fhms.surrey.ac.uk:8080/acorn/AcornWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getEncoding">
<part name="parameters" element="tns:getEncoding"></part>
</message>
<message name="getEncodingResponse">
<part name="parameters" element="tns:getEncodingResponse"></part>
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate"></part>
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse"></part>
</message>
<message name="AuthenticationException">
<part name="fault" element="tns:AuthenticationException"></part>
</message>
<message name="getModels">
<part name="parameters" element="tns:getModels"></part>
</message>
<message name="getModelsResponse">
<part name="parameters" element="tns:getModelsResponse"></part>
</message>
<message name="getAllReactionsByModelId">
<part name="parameters" element="tns:getAllReactionsByModelId"></part>
</message>
<message name="getAllReactionsByModelIdResponse">
<part name="parameters" element="tns:getAllReactionsByModelIdResponse"></part>
</message>
<message name="getAllSpeciesByModelId">
<part name="parameters" element="tns:getAllSpeciesByModelId"></part>
</message>
<message name="getAllSpeciesByModelIdResponse">
<part name="parameters" element="tns:getAllSpeciesByModelIdResponse"></part>
</message>
<message name="getReactionsForSpecies">
<part name="parameters" element="tns:getReactionsForSpecies"></part>
</message>
<message name="getReactionsForSpeciesResponse">
<part name="parameters" element="tns:getReactionsForSpeciesResponse"></part>
</message>
<message name="getSpeciesForReaction">
<part name="parameters" element="tns:getSpeciesForReaction"></part>
</message>
<message name="getSpeciesForReactionResponse">
<part name="parameters" element="tns:getSpeciesForReactionResponse"></part>
</message>
<message name="saveVisualization">
<part name="parameters" element="tns:saveVisualization"></part>
</message>
<message name="saveVisualizationResponse">
<part name="parameters" element="tns:saveVisualizationResponse"></part>
</message>
<message name="RepeatedVisualizationNameException">
<part name="fault" element="tns:RepeatedVisualizationNameException"></part>
</message>
<message name="VisValidationException">
<part name="fault" element="tns:VisValidationException"></part>
</message>
<message name="removeVisualization">
<part name="parameters" element="tns:removeVisualization"></part>
</message>
<message name="removeVisualizationResponse">
<part name="parameters" element="tns:removeVisualizationResponse"></part>
</message>
<message name="getAncestorVisualizationNames">
<part name="parameters" element="tns:getAncestorVisualizationNames"></part>
</message>
<message name="getAncestorVisualizationNamesResponse">
<part name="parameters" element="tns:getAncestorVisualizationNamesResponse"></part>
</message>
<message name="getMethodType">
<part name="parameters" element="tns:getMethodType"></part>
</message>
<message name="getMethodTypeResponse">
<part name="parameters" element="tns:getMethodTypeResponse"></part>
</message>
<message name="isFba">
<part name="parameters" element="tns:isFba"></part>
</message>
<message name="isFbaResponse">
<part name="parameters" element="tns:isFbaResponse"></part>
</message>
<message name="getVisualization">
<part name="parameters" element="tns:getVisualization"></part>
</message>
<message name="getVisualizationResponse">
<part name="parameters" element="tns:getVisualizationResponse"></part>
</message>
<message name="getVisualizationObject">
<part name="parameters" element="tns:getVisualizationObject"></part>
</message>
<message name="getVisualizationObjectResponse">
<part name="parameters" element="tns:getVisualizationObjectResponse"></part>
</message>
<message name="isTaskDone">
<part name="parameters" element="tns:isTaskDone"></part>
</message>
<message name="isTaskDoneResponse">
<part name="parameters" element="tns:isTaskDoneResponse"></part>
</message>
<message name="getFlux">
<part name="parameters" element="tns:getFlux"></part>
</message>
<message name="getFluxResponse">
<part name="parameters" element="tns:getFluxResponse"></part>
</message>
<message name="getModelModificationDate">
<part name="parameters" element="tns:getModelModificationDate"></part>
</message>
<message name="getModelModificationDateResponse">
<part name="parameters" element="tns:getModelModificationDateResponse"></part>
</message>
<message name="getDetachedReactions">
<part name="parameters" element="tns:getDetachedReactions"></part>
</message>
<message name="getDetachedReactionsResponse">
<part name="parameters" element="tns:getDetachedReactionsResponse"></part>
</message>
<portType name="AcornWS">
<operation name="getEncoding">
<input message="tns:getEncoding"></input>
<output message="tns:getEncodingResponse"></output>
</operation>
<operation name="authenticate">
<input message="tns:authenticate"></input>
<output message="tns:authenticateResponse"></output>
<fault message="tns:AuthenticationException" name="AuthenticationException"></fault>
</operation>
<operation name="getModels">
<input message="tns:getModels"></input>
<output message="tns:getModelsResponse"></output>
</operation>
<operation name="getAllReactionsByModelId">
<input message="tns:getAllReactionsByModelId"></input>
<output message="tns:getAllReactionsByModelIdResponse"></output>
</operation>
<operation name="getAllSpeciesByModelId">
<input message="tns:getAllSpeciesByModelId"></input>
<output message="tns:getAllSpeciesByModelIdResponse"></output>
</operation>
<operation name="getReactionsForSpecies">
<input message="tns:getReactionsForSpecies"></input>
<output message="tns:getReactionsForSpeciesResponse"></output>
</operation>
<operation name="getSpeciesForReaction">
<input message="tns:getSpeciesForReaction"></input>
<output message="tns:getSpeciesForReactionResponse"></output>
</operation>
<operation name="saveVisualization">
<input message="tns:saveVisualization"></input>
<output message="tns:saveVisualizationResponse"></output>
<fault message="tns:RepeatedVisualizationNameException" name="RepeatedVisualizationNameException"></fault>
<fault message="tns:VisValidationException" name="VisValidationException"></fault>
<fault message="tns:AuthenticationException" name="AuthenticationException"></fault>
</operation>
<operation name="removeVisualization">
<input message="tns:removeVisualization"></input>
<output message="tns:removeVisualizationResponse"></output>
<fault message="tns:AuthenticationException" name="AuthenticationException"></fault>
</operation>
<operation name="getAncestorVisualizationNames">
<input message="tns:getAncestorVisualizationNames"></input>
<output message="tns:getAncestorVisualizationNamesResponse"></output>
</operation>
<operation name="getMethodType">
<input message="tns:getMethodType"></input>
<output message="tns:getMethodTypeResponse"></output>
</operation>
<operation name="isFba">
<input message="tns:isFba"></input>
<output message="tns:isFbaResponse"></output>
<fault message="tns:AuthenticationException" name="AuthenticationException"></fault>
</operation>
<operation name="getVisualization">
<input message="tns:getVisualization"></input>
<output message="tns:getVisualizationResponse"></output>
</operation>
<operation name="getVisualizationObject">
<input message="tns:getVisualizationObject"></input>
<output message="tns:getVisualizationObjectResponse"></output>
</operation>
<operation name="isTaskDone">
<input message="tns:isTaskDone"></input>
<output message="tns:isTaskDoneResponse"></output>
<fault message="tns:AuthenticationException" name="AuthenticationException"></fault>
</operation>
<operation name="getFlux">
<input message="tns:getFlux"></input>
<output message="tns:getFluxResponse"></output>
</operation>
<operation name="getModelModificationDate">
<input message="tns:getModelModificationDate"></input>
<output message="tns:getModelModificationDateResponse"></output>
</operation>
<operation name="getDetachedReactions">
<input message="tns:getDetachedReactions"></input>
<output message="tns:getDetachedReactionsResponse"></output>
</operation>
</portType>
<binding name="AcornWSPortBinding" type="tns:AcornWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getEncoding">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getModels">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllReactionsByModelId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllSpeciesByModelId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getReactionsForSpecies">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSpeciesForReaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RepeatedVisualizationNameException">
<soap:fault name="RepeatedVisualizationNameException" use="literal"></soap:fault>
</fault>
<fault name="VisValidationException">
<soap:fault name="VisValidationException" use="literal"></soap:fault>
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="removeVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAncestorVisualizationNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMethodType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="isFba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVisualizationObject">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="isTaskDone">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFlux">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getModelModificationDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDetachedReactions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AcornWSService">
<port name="AcornWSPort" binding="tns:AcornWSPortBinding">
<soap:address location="http://sysbio3.fhms.surrey.ac.uk:8080/acorn/AcornWSService"></soap:address>
</port>
</service>
</definitions>