trunk/AcornWSClient/xml-resources/web-service-references/AcornWSService/wsdl/localhost_8080/AcornWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.acorn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.acorn/" name="AcornWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.acorn/" schemaLocation="http://localhost:8080/AcornWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getEncoding">
<part name="parameters" element="tns:getEncoding"></part>
</message>
<message name="getEncodingResponse">
<part name="parameters" element="tns:getEncodingResponse"></part>
</message>
<message name="getModels">
<part name="parameters" element="tns:getModels"></part>
</message>
<message name="getModelsResponse">
<part name="parameters" element="tns:getModelsResponse"></part>
</message>
<message name="getAllReactionsByModelName">
<part name="parameters" element="tns:getAllReactionsByModelName"></part>
</message>
<message name="getAllReactionsByModelNameResponse">
<part name="parameters" element="tns:getAllReactionsByModelNameResponse"></part>
</message>
<message name="getAllSpeciesByModelName">
<part name="parameters" element="tns:getAllSpeciesByModelName"></part>
</message>
<message name="getAllSpeciesByModelNameResponse">
<part name="parameters" element="tns:getAllSpeciesByModelNameResponse"></part>
</message>
<message name="getReactionsForSpecies">
<part name="parameters" element="tns:getReactionsForSpecies"></part>
</message>
<message name="getReactionsForSpeciesResponse">
<part name="parameters" element="tns:getReactionsForSpeciesResponse"></part>
</message>
<message name="getSpeciesForReaction">
<part name="parameters" element="tns:getSpeciesForReaction"></part>
</message>
<message name="getSpeciesForReactionResponse">
<part name="parameters" element="tns:getSpeciesForReactionResponse"></part>
</message>
<message name="saveVisualization">
<part name="parameters" element="tns:saveVisualization"></part>
</message>
<message name="saveVisualizationResponse">
<part name="parameters" element="tns:saveVisualizationResponse"></part>
</message>
<message name="RepeatedVisualizationNameException">
<part name="fault" element="tns:RepeatedVisualizationNameException"></part>
</message>
<message name="VisValidationException">
<part name="fault" element="tns:VisValidationException"></part>
</message>
<message name="getAllVisualizationNames">
<part name="parameters" element="tns:getAllVisualizationNames"></part>
</message>
<message name="getAllVisualizationNamesResponse">
<part name="parameters" element="tns:getAllVisualizationNamesResponse"></part>
</message>
<message name="removeVisualization">
<part name="parameters" element="tns:removeVisualization"></part>
</message>
<message name="removeVisualizationResponse">
<part name="parameters" element="tns:removeVisualizationResponse"></part>
</message>
<message name="getDescendantVisualizationNames">
<part name="parameters" element="tns:getDescendantVisualizationNames"></part>
</message>
<message name="getDescendantVisualizationNamesResponse">
<part name="parameters" element="tns:getDescendantVisualizationNamesResponse"></part>
</message>
<message name="getMethodType">
<part name="parameters" element="tns:getMethodType"></part>
</message>
<message name="getMethodTypeResponse">
<part name="parameters" element="tns:getMethodTypeResponse"></part>
</message>
<message name="isFba">
<part name="parameters" element="tns:isFba"></part>
</message>
<message name="isFbaResponse">
<part name="parameters" element="tns:isFbaResponse"></part>
</message>
<message name="getVisualization">
<part name="parameters" element="tns:getVisualization"></part>
</message>
<message name="getVisualizationResponse">
<part name="parameters" element="tns:getVisualizationResponse"></part>
</message>
<portType name="AcornWS">
<operation name="getEncoding">
<input message="tns:getEncoding"></input>
<output message="tns:getEncodingResponse"></output>
</operation>
<operation name="getModels">
<input message="tns:getModels"></input>
<output message="tns:getModelsResponse"></output>
</operation>
<operation name="getAllReactionsByModelName">
<input message="tns:getAllReactionsByModelName"></input>
<output message="tns:getAllReactionsByModelNameResponse"></output>
</operation>
<operation name="getAllSpeciesByModelName">
<input message="tns:getAllSpeciesByModelName"></input>
<output message="tns:getAllSpeciesByModelNameResponse"></output>
</operation>
<operation name="getReactionsForSpecies">
<input message="tns:getReactionsForSpecies"></input>
<output message="tns:getReactionsForSpeciesResponse"></output>
</operation>
<operation name="getSpeciesForReaction">
<input message="tns:getSpeciesForReaction"></input>
<output message="tns:getSpeciesForReactionResponse"></output>
</operation>
<operation name="saveVisualization">
<input message="tns:saveVisualization"></input>
<output message="tns:saveVisualizationResponse"></output>
<fault message="tns:RepeatedVisualizationNameException" name="RepeatedVisualizationNameException"></fault>
<fault message="tns:VisValidationException" name="VisValidationException"></fault>
</operation>
<operation name="getAllVisualizationNames">
<input message="tns:getAllVisualizationNames"></input>
<output message="tns:getAllVisualizationNamesResponse"></output>
</operation>
<operation name="removeVisualization">
<input message="tns:removeVisualization"></input>
<output message="tns:removeVisualizationResponse"></output>
</operation>
<operation name="getDescendantVisualizationNames">
<input message="tns:getDescendantVisualizationNames"></input>
<output message="tns:getDescendantVisualizationNamesResponse"></output>
</operation>
<operation name="getMethodType">
<input message="tns:getMethodType"></input>
<output message="tns:getMethodTypeResponse"></output>
</operation>
<operation name="isFba">
<input message="tns:isFba"></input>
<output message="tns:isFbaResponse"></output>
</operation>
<operation name="getVisualization">
<input message="tns:getVisualization"></input>
<output message="tns:getVisualizationResponse"></output>
</operation>
</portType>
<binding name="AcornWSPortBinding" type="tns:AcornWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getEncoding">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getModels">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllReactionsByModelName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllSpeciesByModelName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getReactionsForSpecies">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSpeciesForReaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RepeatedVisualizationNameException">
<soap:fault name="RepeatedVisualizationNameException" use="literal"></soap:fault>
</fault>
<fault name="VisValidationException">
<soap:fault name="VisValidationException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllVisualizationNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDescendantVisualizationNames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMethodType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="isFba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVisualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AcornWSService">
<port name="AcornWSPort" binding="tns:AcornWSPortBinding">
<soap:address location="http://localhost:8080/AcornWSService"></soap:address>
</port>
</service>
</definitions>