trunk/AcornWSClient/xml-resources/web-service-references/AcornWSService/wsdl/sysbio3.fhms.surrey.ac.uk_8080/acorn/AcornWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.acorn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.acorn/" name="AcornWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.acorn/" schemaLocation="http://sysbio3.fhms.surrey.ac.uk:8080/acorn/AcornWSService?xsd=1" />
</xsd:schema>
</types>
<message name="getEncoding">
<part name="parameters" element="tns:getEncoding" />
</message>
<message name="getEncodingResponse">
<part name="parameters" element="tns:getEncodingResponse" />
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate" />
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse" />
</message>
<message name="AuthenticationException">
<part name="fault" element="tns:AuthenticationException" />
</message>
<message name="getModels">
<part name="parameters" element="tns:getModels" />
</message>
<message name="getModelsResponse">
<part name="parameters" element="tns:getModelsResponse" />
</message>
<message name="getAllReactionsByModelId">
<part name="parameters" element="tns:getAllReactionsByModelId" />
</message>
<message name="getAllReactionsByModelIdResponse">
<part name="parameters" element="tns:getAllReactionsByModelIdResponse" />
</message>
<message name="getAllSpeciesByModelId">
<part name="parameters" element="tns:getAllSpeciesByModelId" />
</message>
<message name="getAllSpeciesByModelIdResponse">
<part name="parameters" element="tns:getAllSpeciesByModelIdResponse" />
</message>
<message name="getReactionsForSpecies">
<part name="parameters" element="tns:getReactionsForSpecies" />
</message>
<message name="getReactionsForSpeciesResponse">
<part name="parameters" element="tns:getReactionsForSpeciesResponse" />
</message>
<message name="getSpeciesForReaction">
<part name="parameters" element="tns:getSpeciesForReaction" />
</message>
<message name="getSpeciesForReactionResponse">
<part name="parameters" element="tns:getSpeciesForReactionResponse" />
</message>
<message name="saveVisualization">
<part name="parameters" element="tns:saveVisualization" />
</message>
<message name="saveVisualizationResponse">
<part name="parameters" element="tns:saveVisualizationResponse" />
</message>
<message name="RepeatedVisualizationNameException">
<part name="fault" element="tns:RepeatedVisualizationNameException" />
</message>
<message name="VisValidationException">
<part name="fault" element="tns:VisValidationException" />
</message>
<message name="removeVisualization">
<part name="parameters" element="tns:removeVisualization" />
</message>
<message name="removeVisualizationResponse">
<part name="parameters" element="tns:removeVisualizationResponse" />
</message>
<message name="getAncestorVisualizationNames">
<part name="parameters" element="tns:getAncestorVisualizationNames" />
</message>
<message name="getAncestorVisualizationNamesResponse">
<part name="parameters" element="tns:getAncestorVisualizationNamesResponse" />
</message>
<message name="getMethodType">
<part name="parameters" element="tns:getMethodType" />
</message>
<message name="getMethodTypeResponse">
<part name="parameters" element="tns:getMethodTypeResponse" />
</message>
<message name="isFba">
<part name="parameters" element="tns:isFba" />
</message>
<message name="isFbaResponse">
<part name="parameters" element="tns:isFbaResponse" />
</message>
<message name="getVisualization">
<part name="parameters" element="tns:getVisualization" />
</message>
<message name="getVisualizationResponse">
<part name="parameters" element="tns:getVisualizationResponse" />
</message>
<message name="getVisualizationObject">
<part name="parameters" element="tns:getVisualizationObject" />
</message>
<message name="getVisualizationObjectResponse">
<part name="parameters" element="tns:getVisualizationObjectResponse" />
</message>
<message name="isTaskDone">
<part name="parameters" element="tns:isTaskDone" />
</message>
<message name="isTaskDoneResponse">
<part name="parameters" element="tns:isTaskDoneResponse" />
</message>
<message name="getFlux">
<part name="parameters" element="tns:getFlux" />
</message>
<message name="getFluxResponse">
<part name="parameters" element="tns:getFluxResponse" />
</message>
<message name="getModelModificationDate">
<part name="parameters" element="tns:getModelModificationDate" />
</message>
<message name="getModelModificationDateResponse">
<part name="parameters" element="tns:getModelModificationDateResponse" />
</message>
<message name="getDetachedReactions">
<part name="parameters" element="tns:getDetachedReactions" />
</message>
<message name="getDetachedReactionsResponse">
<part name="parameters" element="tns:getDetachedReactionsResponse" />
</message>
<portType name="AcornWS">
<operation name="getEncoding">
<input wsam:Action="http://webservice.acorn/AcornWS/getEncodingRequest" message="tns:getEncoding" />
<output wsam:Action="http://webservice.acorn/AcornWS/getEncodingResponse" message="tns:getEncodingResponse" />
</operation>
<operation name="authenticate">
<input wsam:Action="http://webservice.acorn/AcornWS/authenticateRequest" message="tns:authenticate" />
<output wsam:Action="http://webservice.acorn/AcornWS/authenticateResponse" message="tns:authenticateResponse" />
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://webservice.acorn/AcornWS/authenticate/Fault/AuthenticationException" />
</operation>
<operation name="getModels">
<input wsam:Action="http://webservice.acorn/AcornWS/getModelsRequest" message="tns:getModels" />
<output wsam:Action="http://webservice.acorn/AcornWS/getModelsResponse" message="tns:getModelsResponse" />
</operation>
<operation name="getAllReactionsByModelId">
<input wsam:Action="http://webservice.acorn/AcornWS/getAllReactionsByModelIdRequest" message="tns:getAllReactionsByModelId" />
<output wsam:Action="http://webservice.acorn/AcornWS/getAllReactionsByModelIdResponse" message="tns:getAllReactionsByModelIdResponse" />
</operation>
<operation name="getAllSpeciesByModelId">
<input wsam:Action="http://webservice.acorn/AcornWS/getAllSpeciesByModelIdRequest" message="tns:getAllSpeciesByModelId" />
<output wsam:Action="http://webservice.acorn/AcornWS/getAllSpeciesByModelIdResponse" message="tns:getAllSpeciesByModelIdResponse" />
</operation>
<operation name="getReactionsForSpecies">
<input wsam:Action="http://webservice.acorn/AcornWS/getReactionsForSpeciesRequest" message="tns:getReactionsForSpecies" />
<output wsam:Action="http://webservice.acorn/AcornWS/getReactionsForSpeciesResponse" message="tns:getReactionsForSpeciesResponse" />
</operation>
<operation name="getSpeciesForReaction">
<input wsam:Action="http://webservice.acorn/AcornWS/getSpeciesForReactionRequest" message="tns:getSpeciesForReaction" />
<output wsam:Action="http://webservice.acorn/AcornWS/getSpeciesForReactionResponse" message="tns:getSpeciesForReactionResponse" />
</operation>
<operation name="saveVisualization">
<input wsam:Action="http://webservice.acorn/AcornWS/saveVisualizationRequest" message="tns:saveVisualization" />
<output wsam:Action="http://webservice.acorn/AcornWS/saveVisualizationResponse" message="tns:saveVisualizationResponse" />
<fault message="tns:RepeatedVisualizationNameException" name="RepeatedVisualizationNameException" wsam:Action="http://webservice.acorn/AcornWS/saveVisualization/Fault/RepeatedVisualizationNameException" />
<fault message="tns:VisValidationException" name="VisValidationException" wsam:Action="http://webservice.acorn/AcornWS/saveVisualization/Fault/VisValidationException" />
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://webservice.acorn/AcornWS/saveVisualization/Fault/AuthenticationException" />
</operation>
<operation name="removeVisualization">
<input wsam:Action="http://webservice.acorn/AcornWS/removeVisualizationRequest" message="tns:removeVisualization" />
<output wsam:Action="http://webservice.acorn/AcornWS/removeVisualizationResponse" message="tns:removeVisualizationResponse" />
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://webservice.acorn/AcornWS/removeVisualization/Fault/AuthenticationException" />
</operation>
<operation name="getAncestorVisualizationNames">
<input wsam:Action="http://webservice.acorn/AcornWS/getAncestorVisualizationNamesRequest" message="tns:getAncestorVisualizationNames" />
<output wsam:Action="http://webservice.acorn/AcornWS/getAncestorVisualizationNamesResponse" message="tns:getAncestorVisualizationNamesResponse" />
</operation>
<operation name="getMethodType">
<input wsam:Action="http://webservice.acorn/AcornWS/getMethodTypeRequest" message="tns:getMethodType" />
<output wsam:Action="http://webservice.acorn/AcornWS/getMethodTypeResponse" message="tns:getMethodTypeResponse" />
</operation>
<operation name="isFba">
<input wsam:Action="http://webservice.acorn/AcornWS/isFbaRequest" message="tns:isFba" />
<output wsam:Action="http://webservice.acorn/AcornWS/isFbaResponse" message="tns:isFbaResponse" />
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://webservice.acorn/AcornWS/isFba/Fault/AuthenticationException" />
</operation>
<operation name="getVisualization">
<input wsam:Action="http://webservice.acorn/AcornWS/getVisualizationRequest" message="tns:getVisualization" />
<output wsam:Action="http://webservice.acorn/AcornWS/getVisualizationResponse" message="tns:getVisualizationResponse" />
</operation>
<operation name="getVisualizationObject">
<input wsam:Action="http://webservice.acorn/AcornWS/getVisualizationObjectRequest" message="tns:getVisualizationObject" />
<output wsam:Action="http://webservice.acorn/AcornWS/getVisualizationObjectResponse" message="tns:getVisualizationObjectResponse" />
</operation>
<operation name="isTaskDone">
<input wsam:Action="http://webservice.acorn/AcornWS/isTaskDoneRequest" message="tns:isTaskDone" />
<output wsam:Action="http://webservice.acorn/AcornWS/isTaskDoneResponse" message="tns:isTaskDoneResponse" />
<fault message="tns:AuthenticationException" name="AuthenticationException" wsam:Action="http://webservice.acorn/AcornWS/isTaskDone/Fault/AuthenticationException" />
</operation>
<operation name="getFlux">
<input wsam:Action="http://webservice.acorn/AcornWS/getFluxRequest" message="tns:getFlux" />
<output wsam:Action="http://webservice.acorn/AcornWS/getFluxResponse" message="tns:getFluxResponse" />
</operation>
<operation name="getModelModificationDate">
<input wsam:Action="http://webservice.acorn/AcornWS/getModelModificationDateRequest" message="tns:getModelModificationDate" />
<output wsam:Action="http://webservice.acorn/AcornWS/getModelModificationDateResponse" message="tns:getModelModificationDateResponse" />
</operation>
<operation name="getDetachedReactions">
<input wsam:Action="http://webservice.acorn/AcornWS/getDetachedReactionsRequest" message="tns:getDetachedReactions" />
<output wsam:Action="http://webservice.acorn/AcornWS/getDetachedReactionsResponse" message="tns:getDetachedReactionsResponse" />
</operation>
</portType>
<binding name="AcornWSPortBinding" type="tns:AcornWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getEncoding">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal" />
</fault>
</operation>
<operation name="getModels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllReactionsByModelId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllSpeciesByModelId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getReactionsForSpecies">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSpeciesForReaction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="saveVisualization">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="RepeatedVisualizationNameException">
<soap:fault name="RepeatedVisualizationNameException" use="literal" />
</fault>
<fault name="VisValidationException">
<soap:fault name="VisValidationException" use="literal" />
</fault>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal" />
</fault>
</operation>
<operation name="removeVisualization">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal" />
</fault>
</operation>
<operation name="getAncestorVisualizationNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMethodType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isFba">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal" />
</fault>
</operation>
<operation name="getVisualization">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVisualizationObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isTaskDone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="AuthenticationException">
<soap:fault name="AuthenticationException" use="literal" />
</fault>
</operation>
<operation name="getFlux">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getModelModificationDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDetachedReactions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AcornWSService">
<port name="AcornWSPort" binding="tns:AcornWSPortBinding">
<soap:address location="http://sysbio3.fhms.surrey.ac.uk:8080/acorn/AcornWSService" />
</port>
</service>
</definitions>